<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Default</string>
	<string>PianoE</string>
	<string>Zither</string>
	<string>Bass</string>
	<string>Guitar</string>
	<string>Harp</string>
	<string>Marimba</string>
</array>
</plist>
